@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{        
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  font-family: 'Press Start 2P', cursive;
}

body::-webkit-scrollbar{
  width: 12px;
}

body::-webkit-scrollbar-thumb{
  background-color: #2b2b2b;
  border-radius: 20px;
  border: 1px solid #fff;
}

body::-webkit-scrollbar-track{
  background: #fff;
}